

/* Layout */

#area-cabecalho {
    background: #1d1c1c;
    padding: 15px;
    text-align: center;
}

#area-menu, #area-logo {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

.area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.texto-lateral {
    font-size: 0.8em;
    padding: 5px;
}

/* Formatação do Menu */

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    background: #FFF;
    color:#000000;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Formatações Gerais */

h1 {
    color: #00D3AD;
    font-size: 2.6em;
}

h5 {
    font-size: 2em;
    font-family: 'Abril Fatface', cursive;
}

.branco {
    color: white;
    font-size: 1.0em;
}

/* conteudo */

.titulo {
	text-align: center;
	font-size: 23px;
}

.imagem {
	border: 1px solid;
	border-radius: 15px;
	
}

.div1 {
    width: 1500px;
    margin: 50px auto;
	padding: 50px;
	border-radius: 1px;
}

.imagem1 {
    float: left;
    margin: 0;
   padding: 20px;
}
.texto {
    float: rigth;
    margin: 0;
   padding: 25px;
}

.ze {
	font-size: 18px;
}

.ze1 {
	font-size: 17px;
	color: gray;
}

hr{
	border-color: #00ffff; 
}

.avaliacao{
    display: flex;
    float: right;
   }

.star-icon{
    list-style-type: none;
    border: 2px solid #fff;
    cursor: pointer;
    color: #00D3AD;
    font-size: 30px;
  }

.star-icon::before{
    content: "\2605";
}
  
.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}
  
.avaliacao:hover .star-icon::before{
    content: "\2605";
}
  
.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

